<app-side-bar></app-side-bar>
<!-- Content -->
<div class="side-bar-container">
  <h3 class="text-primary-color mb-5"><i class="fa fa-bars"></i> Brand List</h3>

  <div class="row mb-4">
    <div class="col">
      <input
        type="search"
        placeholder="Search Brand..."
        style="width: 20rem"
        [(ngModel)]="keyword"
        (input)="search(keyword)"
        class="form-control float-end"
      />
    </div>
  </div>
  <div class="row">
    <table class="table tabel-hover" *ngIf="brands.length != 0">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of brands">
          <td>{{ b.brandName }}</td>
          <td>{{ b.categoryName }}</td>
          <td>
            <button (click)="confirmDelete(b)" class="btn btn-outline-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="brands?.length == 0" class="col mt-5">
    <div class="alert alert-info">
      <h4 class="alert-heading">NO BRANDS</h4>
      <p>No brand were found.</p>
    </div>
  </div>

</div>

<app-confirm-modal-dialog
  [disableSubmitButton]="false"
  (submitButton)="delete($event)"
>
  <h4 class="alert-heading">DELETE SUBCATEGORY</h4>
  <p>Are you sure you want to delete {{ brandDto?.brandName }} ?</p>
</app-confirm-modal-dialog>
