@import "../../../scss/utilities";

.content {
    background: #f4f4f4;
    height: 100%;
    padding-bottom: 10rem;
}

.home-container {
    padding: 0 2rem;
}

.sidebar-items{
    margin-top: 8rem;
}

.search-input {
    width: 60rem;
    border-radius: 2rem;
}

.card-header {
    background: #f8f7f8;
}

.card-body {
    span{
        &:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }
}

.all {
    color: $primary-color;
    cursor: pointer;
}