<div class="container">
  <h3 class="text-primary-color mb-2 mt-5">
    <i class="fa fa-gear"></i> Password Setting
  </h3>

  <div class="row">
    <div class="col">
      <form [formGroup]="credentailForm" (ngSubmit)="changeCredentail()">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            readonly
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Old Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Old Password"
            formControlName="oldPassword"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            formControlName="newPassword"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Repeated Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Repeated Password"
            formControlName="repeatedPassword"
          />
        </div>
        <div class="mb-3">
          <button
            routerLink="/user-profile"
            class="btn btn-outline-secondary me-3"
          >
            <i class="fa fa-angle-left"></i> Back
          </button>
          <button [disabled]="credentailForm.invalid" type="submit" class="btn btn-primary">SAVE CHANGES</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
